body{
    background-color: rgba(0, 0, 0, 0.357);
}
.slider{
    position: relative;
    width: 800px;
    margin: auto;
    overflow: hidden;

    
}

.slider img{
    width: 800px;
    height: 550px;
    border-radius: 15px;
    display: none;


}

img.displaySlide{
    display: block;
    animation-name: fade; /*Call the keyframe called fade*/
    animation-duration: 1s; /*set the fade 0.1 to 1 opacity for 1sec*/
}

.slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.205);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.prev{
    left: 0;
}
.next{
    right: 0;
}

@keyframes fade{
    from {opacity: .1} /* each slide, the image will be 0.1*/
    to {opacity: 1} /*will turn to 1*/
}