body{
    margin: 0;
}
#myBox{
    height: 250px;
    width: 250px;
    font-size: 100px;
    background: linear-gradient(180deg, darkcyan, cyan);
    border: 2px solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

}